@model SoftToy

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Url.Content(@Model.ImageThumbnailUrl)" alt="Image"/>
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a asp-controller="SoftToy" asp-action="Details" asp-route-id="@Model.Id"> @Model.Name</a>
            </h3>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="adminButton">
            <p class="button">
                <a class="btn btn-primary" 
                   asp-controller="AdminPanel" 
                   asp-action="Edit"
                   asp-route-softToyId="@Model.Id">Edit</a>
            </p>
            <p class="button">
                <a class="btn btn-primary" 
                   asp-controller="AdminPanel" 
                   asp-action="Details"
                   asp-route-softToyId="@Model.Id">Details</a>
            </p>
            <p class="button">
                <a class="btn btn-primary" 
                   asp-controller="AdminPanel" 
                   asp-action="Delete"
                   asp-route-softToyId="@Model.Id">Delete</a>
            </p>
        </div>
    </div>
</div>